.lolo:hover
{
color: aliceblue;

}
.a{
    background-color: darkgrey;
}
.b
{
    background-color: blueviolet;
}
.c
{
    background-color: darkgreen;
}
.d
{
    background-color: #7f92b7;;
}

.sisy:hover
{
color: rgb(250, 0, 0);
}
.sisy
{
    color: azure;
}